.header_top {
  border: 1px solid #f4f0e6;
  width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;
  @include d-flex;
  .header_top_start {
    display: flex;
    padding-left: 246px;
    p {
      color: var(--primary-black, #292929);
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
    }
    .header_tstart_1 {
      display: flex;
      img {
        margin-right: 4px;
      }
      select {
        border: none;
        background: #fffbed;
      }
    }
    .header_tstart_2 {
      margin-left: 20px;
      display: flex;
      img {
        margin-right: 4px;
      }
    }
  }
  .header_top_end {
    display: flex;
    padding-right: 250px;
    .header_top_end_link {
      display: flex;
      gap: 30px;
      a {
        color: var(--primary-black, #292929);
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
      }
      .header_top_end_link_user {
        display: flex;
        img {
          margin-right: 4px;
        }
      }
    }
  }
}
.header_center {
  @include d-flex;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 246px;

  .header_center_logo {
    margin-left: 39px;
    margin-right: 48px;
    @include d-flex;
    .header_center_logoo {
      @include d-flex;
      p {
        margin-left: 8px;
        color: var(--primary-dark-grey, #808080);
        font-size: 13px;
        font-weight: 400;
        line-height: 16px;
      }
      .header_center_logop {
        width: 80px;
      }
      .header_center_logop2 {
        width: 100px;
      }
      .header_center_logop3 {
        width: 80px;
      }
    }
  }
  .header_chat_icon {
    margin-right: 21px;
    display: flex;
    gap: 8px;
  }
  .header_chat {
    margin-right: 59px;
    display: flex;
    flex-direction: column;
    .header_chat_a {
      padding-left: 15px;
      color: var(--primary-brown, #4e2d2d);
      font-size: 16px;
      font-weight: 700;
      line-height: 22px;
    }
    .header_chat_a2 {
      padding: 6px;
      flex-shrink: 0;
      border-radius: 4px;
      border: 1px solid var(--primary-orange, #fd9339);
    }
  }
  .header_korzinka {
    @include d-flex;
    padding-right: 248px;
    gap: 8px;
    .header_korzinka_p {
      color: var(--primary-black, #292929);
      text-align: right;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      .header_korzinka_pp {
        color: var(--primary-orange, #fd9339);
        font-weight: 700;
      }
    }
  }
}
.header_bottom {
  @include d-flex;
  width: 100%px;
  padding: 16px 248px;
  border: 1px solid #f4f0e6;
  background: #fffbed;
  .header_bottom_start {
    display: flex;
    gap: 20px;
    select {
      border: none;
      background-color: #fffbed;
    }
    a {
      color: var(--primary-black, #292929);
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
    }
  }
  .header_botto_end {
    .header_search {
      display: flex;
      align-items: center;
      gap: 15px;
      .header_search_img{
        border: none;
        background: #FFFBED;
      }
      }
      .header_search_input {
        color: var(--primary-dark-grey, #808080);
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        opacity: 0.6;
        background: #FFFBED;
        border: none;
      }
    }
    
  }

