* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-style: normal;
  background: #FFFBED;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1680px;
  margin: 0 auto;
  padding: 0 16px;
}

.button_btn {
  width: 212px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 5px;
  background: var(--primary-orange, #FD9339);
  border: 15px black;
  color: aliceblue;
  transition: all ease 0.6s;
  margin-left: 350px;
}

.button_btn:hover {
  background-color: rgb(255, 255, 255);
  color: #FD9339;
}

.header_top {
  border: 1px solid #f4f0e6;
  width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_top .header_top_start {
  display: flex;
  padding-left: 246px;
}
.header_top .header_top_start p {
  color: var(--primary-black, #292929);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
.header_top .header_top_start .header_tstart_1 {
  display: flex;
}
.header_top .header_top_start .header_tstart_1 img {
  margin-right: 4px;
}
.header_top .header_top_start .header_tstart_1 select {
  border: none;
  background: #fffbed;
}
.header_top .header_top_start .header_tstart_2 {
  margin-left: 20px;
  display: flex;
}
.header_top .header_top_start .header_tstart_2 img {
  margin-right: 4px;
}
.header_top .header_top_end {
  display: flex;
  padding-right: 250px;
}
.header_top .header_top_end .header_top_end_link {
  display: flex;
  gap: 30px;
}
.header_top .header_top_end .header_top_end_link a {
  color: var(--primary-black, #292929);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
.header_top .header_top_end .header_top_end_link .header_top_end_link_user {
  display: flex;
}
.header_top .header_top_end .header_top_end_link .header_top_end_link_user img {
  margin-right: 4px;
}

.header_center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 246px;
}
.header_center .header_center_logo {
  margin-left: 39px;
  margin-right: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_center .header_center_logo .header_center_logoo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_center .header_center_logo .header_center_logoo p {
  margin-left: 8px;
  color: var(--primary-dark-grey, #808080);
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}
.header_center .header_center_logo .header_center_logoo .header_center_logop {
  width: 80px;
}
.header_center .header_center_logo .header_center_logoo .header_center_logop2 {
  width: 100px;
}
.header_center .header_center_logo .header_center_logoo .header_center_logop3 {
  width: 80px;
}
.header_center .header_chat_icon {
  margin-right: 21px;
  display: flex;
  gap: 8px;
}
.header_center .header_chat {
  margin-right: 59px;
  display: flex;
  flex-direction: column;
}
.header_center .header_chat .header_chat_a {
  padding-left: 15px;
  color: var(--primary-brown, #4e2d2d);
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}
.header_center .header_chat .header_chat_a2 {
  padding: 6px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--primary-orange, #fd9339);
}
.header_center .header_korzinka {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 248px;
  gap: 8px;
}
.header_center .header_korzinka .header_korzinka_p {
  color: var(--primary-black, #292929);
  text-align: right;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
.header_center .header_korzinka .header_korzinka_p .header_korzinka_pp {
  color: var(--primary-orange, #fd9339);
  font-weight: 700;
}

.header_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100% px;
  padding: 16px 248px;
  border: 1px solid #f4f0e6;
  background: #fffbed;
}
.header_bottom .header_bottom_start {
  display: flex;
  gap: 20px;
}
.header_bottom .header_bottom_start select {
  border: none;
  background-color: #fffbed;
}
.header_bottom .header_bottom_start a {
  color: var(--primary-black, #292929);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
.header_bottom .header_botto_end .header_search {
  display: flex;
  align-items: center;
  gap: 15px;
}
.header_bottom .header_botto_end .header_search .header_search_img {
  border: none;
  background: #FFFBED;
}
.header_bottom .header_botto_end .header_search_input {
  color: var(--primary-dark-grey, #808080);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  opacity: 0.6;
  background: #FFFBED;
  border: none;
}

.hero .hero_link {
  display: flex;
  padding: 20px 251px;
  align-items: center;
}
.hero .hero_link a {
  color: var(--primary-black, #292929);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
.hero .hero_link .hero_link_a {
  color: var(--primary-orange, #fd9339);
  font-family: Circe Rounded;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.14px;
}
.hero .hero_bottom {
  display: flex;
  gap: 30px;
}
.hero .hero_sidebarMenu {
  padding-top: 20px;
  padding-left: 251px;
}
.hero .hero_sidebarMenu .img_topA {
  background: none;
}
.hero .hero_sidebarMenu .siedMenu_top {
  width: 280px;
  display: flex;
  flex-direction: column;
}
.hero .hero_sidebarMenu .siedMenu_top .siedMenu_top_div {
  padding: 12px 16px;
  display: flex;
  align-items: center;
  border-radius: 6px 6px 0px 0px;
  background-color: #fbe8bb;
}
.hero .hero_sidebarMenu .siedMenu_top .siedMenu_top_div .img_top_div {
  background: none;
}
.hero .hero_sidebarMenu .siedMenu_top .siedMenu_top_div a {
  padding-left: 8px;
  color: var(--primary-brown, #4e2d2d);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  background: none;
}
.hero .hero_sidebarMenu .siedMenu_top .siedMenu_top_a {
  padding: 12px 16px;
  border: 1px solid #e6e6e6;
  background: var(--primary-white, #fff);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero .hero_sidebarMenu .siedMenu_top .siedMenu_top_a a {
  color: var(--primary-black, #292929);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  background: none;
}
.hero .hero_sidebarMenu .siedMenu_top .siedMenu_top_a:hover {
  background-color: #fbe8bb;
}
.hero .hero_sidebarMenu .siedMenu_top .siedMenu_top_aa {
  border-radius: 0px 0px 6px 6px;
}
.hero .siedMenu_bottom {
  width: 280px;
  display: flex;
  flex-direction: column;
  margin-top: 19px;
}
.hero .siedMenu_bottom .siedMenu_top_div {
  padding: 12px 16px;
  display: flex;
  align-items: center;
  border-radius: 6px 6px 0px 0px;
  background-color: #fbe8bb;
}
.hero .siedMenu_bottom .siedMenu_top_div a {
  padding-left: 8px;
  color: var(--primary-brown, #4e2d2d);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  background: none;
}
.hero .siedMenu_bottom .siedMenu_top_a {
  padding: 12px 16px;
  border: 1px solid #e6e6e6;
  background: var(--primary-white, #fff);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero .siedMenu_bottom .siedMenu_top_a a {
  color: var(--primary-black, #292929);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  background: none;
}
.hero .siedMenu_bottom .siedMenu_top_a:hover {
  background-color: #fbe8bb;
}
.hero .siedMenu_bottom .siedMenu_top_aa {
  border-radius: 0px 0px 6px 6px;
}
.hero .card_six {
  margin-bottom: 15px;
}
.hero .Card_three {
  display: flex;
  gap: 15px;
}
.hero .hero_siri {
  padding-bottom: 30px;
}
.hero .hero_siri .one_siri {
  background-image: url(/assests/images/tver.png);
  width: 280px;
  height: 140px;
  margin-top: 15px;
}
.hero .hero_siri .one_siri h1 {
  color: var(--primary-white, #FFF);
  font-family: Circe Rounded;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  padding: 84px 120px 0px 16px;
  background: none;
}
.hero .hero_siri .one_siri .link_a {
  display: flex;
  background: none;
}
.hero .hero_siri .one_siri .link_a a {
  color: var(--primary-orange, #FD9339);
  font-family: Circe Rounded;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 0px 2px 0px 16px;
  background: none;
}
.hero .hero_siri .one_siri .link_a img {
  padding-top: 5px;
  background: none;
}
.hero .hero_siri .two_siri {
  background-image: url(/assests/images/tver.png);
  width: 280px;
  height: 140px;
  margin-top: 15px;
}
.hero .hero_siri .two_siri h1 {
  color: var(--primary-white, #FFF);
  font-family: Circe Rounded;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  padding: 84px 120px 0px 16px;
  background: none;
}
.hero .hero_siri .two_siri .link_a {
  display: flex;
  background: none;
}
.hero .hero_siri .two_siri .link_a a {
  color: var(--primary-orange, #FD9339);
  font-family: Circe Rounded;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 0px 2px 0px 16px;
  background: none;
}
.hero .hero_siri .two_siri .link_a img {
  padding-top: 5px;
  background: none;
}
.hero .hero_siri .three_siri {
  background-image: url(/assests/images/polut.png);
  width: 280px;
  height: 140px;
  margin-top: 15px;
}
.hero .hero_siri .three_siri h1 {
  color: var(--primary-white, #FFF);
  font-family: Circe Rounded;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  padding: 84px 60px 0px 16px;
  background: none;
}
.hero .hero_siri .three_siri .link_a {
  display: flex;
  background: none;
}
.hero .hero_siri .three_siri .link_a a {
  color: var(--primary-orange, #FD9339);
  font-family: Circe Rounded;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 0px 2px 0px 16px;
  background: none;
}
.hero .hero_siri .three_siri .link_a img {
  padding-top: 5px;
  background: none;
}
.hero .hero_siri .four_siri {
  background-image: url(/assests/images/pasta.png);
  width: 280px;
  height: 140px;
  margin-top: 15px;
}
.hero .hero_siri .four_siri h1 {
  color: var(--primary-white, #FFF);
  font-family: Circe Rounded;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  padding: 84px 120px 0px 16px;
  background: none;
}
.hero .hero_siri .four_siri .link_a {
  display: flex;
  background: none;
}
.hero .hero_siri .four_siri .link_a a {
  color: var(--primary-orange, #FD9339);
  font-family: Circe Rounded;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 0px 2px 0px 16px;
  background: none;
}
.hero .hero_siri .four_siri .link_a img {
  padding-top: 5px;
  background: none;
}
.hero .hero_siri .five_siri {
  background-image: url(/assests/images/kislo.png);
  width: 280px;
  height: 140px;
  margin-top: 15px;
}
.hero .hero_siri .five_siri h1 {
  color: var(--primary-white, #FFF);
  font-family: Circe Rounded;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  padding: 84px 40px 0px 16px;
  background: none;
}
.hero .hero_siri .five_siri .link_a {
  display: flex;
  background: none;
}
.hero .hero_siri .five_siri .link_a a {
  color: var(--primary-orange, #FD9339);
  font-family: Circe Rounded;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 0px 2px 0px 16px;
  background: none;
}
.hero .hero_siri .five_siri .link_a img {
  padding-top: 5px;
  background: none;
}
.hero .hero_siri .six_siri {
  background-image: url(/assests/images/rassol.png);
  width: 280px;
  height: 140px;
  margin-top: 15px;
}
.hero .hero_siri .six_siri h1 {
  color: var(--primary-white, #FFF);
  font-family: Circe Rounded;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  padding: 84px 100px 0px 16px;
  background: none;
}
.hero .hero_siri .six_siri .link_a {
  display: flex;
  background: none;
}
.hero .hero_siri .six_siri .link_a a {
  color: var(--primary-orange, #FD9339);
  font-family: Circe Rounded;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 0px 2px 0px 16px;
  background: none;
}
.hero .hero_siri .six_siri .link_a img {
  padding-top: 5px;
  background: none;
}
.hero h1 {
  color: var(--primary-brown, #4E2D2D);
  font-family: Circe Rounded;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: 0.28px;
}
.hero .line_span {
  opacity: 0.1;
  color: #808080;
  width: 870px;
  height: 1px;
}

.retseps {
  padding-top: 29px;
  padding-bottom: 72px;
}
.retseps h1 {
  margin-bottom: 20px;
}
.retseps .retsep_bottom {
  display: flex;
  gap: 20px;
  padding-bottom: 10px;
  background: none;
}
.retseps .retsep_bottom .retsep_bottomOne {
  width: 280px;
  height: 320px;
  border-radius: 5px;
  border: 1px solid #e7e7e7;
  background: var(--primary-white, #fff);
}
.retseps .retsep_bottom .retsep_bottomOne h2 {
  padding-left: 20px;
  color: var(--primary-brown, #4e2d2d);
  font-family: Circe Rounded;
  font-size: 16px;
  letter-spacing: 0.16px;
  text-transform: uppercase;
  background: none;
}
.retseps .retsep_bottom .retsep_bottomOne p {
  padding-left: 20px;
  margin-bottom: 20px;
  width: 240px;
  color: #000;
  font-family: Circe Rounded;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.6;
  background: none;
}
.retseps .retsep_bottom .retsep_bottom_link {
  display: flex;
  align-items: center;
  background: none;
}
.retseps .retsep_bottom .retsep_bottom_link .img_arrow {
  background: none;
}
.retseps .retsep_bottom .retsep_bottom_link a {
  align-items: center;
  padding-left: 20px;
  color: #fd9339;
  font-family: Circe Rounded;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration-line: underline;
  background: none;
}

.footer {
  display: flex;
  gap: 70px;
  width: 100%;
  height: 250px;
  background-color: rgb(255, 255, 255);
  padding-top: 100px;
  position: absolute;
  left: 0;
  right: 0;
  justify-content: center;
}
.footer .img_link {
  margin-bottom: 20px;
  background: none;
}
.footer .imgg_footer_list {
  margin-right: 4px;
  background: none;
}
.footer .footer_link_th {
  display: flex;
  color: var(--primary-black, #292929);
  font-family: Circe Rounded;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-top: 16px;
  background: none;
}
.footer .footer_link {
  color: var(--primary-black, #292929);
  font-family: Circe Rounded;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: none;
}
.footer .footer_item_two {
  display: flex;
  margin-bottom: 10px;
  background: none;
}
.footer .footer_link_top {
  color: var(--primary-black, #292929);
  font-family: Circe Rounded;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  width: 178px;
  margin-top: 20px;
  background: none;
}
.footer .footer_item_three {
  margin-top: 10px;
  background: none;
}
.footer .footer_item_end {
  margin-top: 20px;
  background: none;
}
.footer .img_footer_list {
  margin-top: 10px;
  padding-right: 14px;
  background: none;
}
.footer .footer_link_three {
  color: var(--primary-black, #292929);
  font-family: Circe Rounded;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  width: 178px;
  margin-top: 20px;
  background: none;
}
.footer .footer_link_two {
  color: var(--primary-dark-grey, #808080);
  font-family: Circe Rounded;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  background: none;
}
.footer .footer_link_t {
  color: var(--primary-black, #292929);
  font-family: Circe Rounded;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  background: none;
}

.footer_list {
  background: none;
}

.footer_item {
  margin-top: 10px;
  background: none;
}

.footer_link_big {
  background: none;
}

.footer_item_one {
  background: none;
}/*# sourceMappingURL=main.css.map */